body {
    background-color:  #a4a4a4; 
    color: #ffffff;
    margin:auto;
  }

  
  #game {
    max-width: 500px;
    background-color: #0b159b; /* Blue game background */
    color: #ffffff;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
  }
  
  #controls {
    display: flex;
    justify-content: space-around; /* Align buttons evenly with space between them */
    margin-bottom: 20px;
  }
  
  button {
    background-color: #a4a4a4; /* Silver button background */
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 5px;
  }
  
  #monsterStats {
    display: none;
    margin-top: 20px;
  }
  
  .stat {
    padding-right: 10px;
    background-color:#ffea00;
text-align:center;
  }
  
  #text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  #monsterName {
    font-weight: bold;
  }
  
  #healthText, #goldText, #xpText {
    font-weight: bold;
    background:#ffea00;
position:center;
text-align:center;
  }
/*dark green theme*/